//- for displaying a user friendly page not found message

extends layout

block content
    body
        h1 Page Not Found
        p Sorry! There's nothing to see here.
        br
        p
            a.button(href="/") Home